<h1>Artists in Stock:</h1>

<% @artists.each do |artist| %>
<p><a href="/artists"><%= artist.artist_name  %></a></p>
  <% @records.each do |record| %>
    <% if record.artist_id == artist.id %>
    <p>Title: <%= record.title %></p>
    <p>Quantity: <a href="/edit/<%= record.id %>"><%= record.quantity %></a></p><br>
    <% end %>
  <% end %>
<% end %>
