<!DOCTYPE html>
<html lang="en">
<head>
  <title>Record Shop</title>
  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <div id="container">
    <header>
      <h3 id="hl"><a href="/artists">Artists</a></h3>
      <h3 id="hr"><a href="/records">Records</a></h3>
      <h3 id="hm">RESTful Records</h3>
    </header>
<main>
  <nav>

  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
  </div><!--container-->
</body>
</html>
