<h1>Records</h1>

<p><a href="/records/new">Add a new record</a></p>

<% @records.each do |record| %>
<p>Title: <%= record.title() %> Click on quantity to adjust stock: <a href="/records/<%= record.id %>"><%= record.quantity %></a></p><br>
<% end %>
