<h1>Artist</h1>

<p><a href="/artists/new">Add a new Artist</a></p>
<br>
<table>
  <thead>
    <tr>
      <th>Click to view stock of artist</th>
      <th>Click to edit artist name</th>
    </tr>
  </thead>

  <tbody>


    <% @artists.each do |artist| %>
    <tr>
      <td><a href="/artists/<%= artist.id %>"/><%= artist.name %></a></td>
      <td> <a href="/artists/<%= artist.id %>/edit">Edit</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<tbody>
