<h1>Add a new Artist to the database.</h1>

<form action="/artists" method="POST">
  <label for="name">Enter name of Artist to be added: </label>
  <input type="text" name="name" id="name"/>

  <input type="submit" value="Add Artist"/>
</form>

<p><a href="/records/new">Add albums to artists</a></p>
<p><a href="/index">Return to homepage</a></p>
<p><a href="/artists">Return to list of artists</a></p>
